:root {
    --main-color: #242424;
    --second-color: #6bbcff;
    --third-color: #d365ff;

    --flow-color: #303030;

    --intro-color: #292929;
    --news-bg-color: #464646;

    --nav-bg-color: #a1a1a1;
}